 
 header {
    text-align: center;
  }
  
  .logo {
    display: inline-block;
    margin: 0 auto;
  }
  
 body {
    background-color: #eeaeca;
  }
  .logo {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  